html,
body {
  width: 100%;
  height: 100%;
  
  @media (min-width: 760px) and (max-width: 1024px) {
  }
}
body {
  overflow-x:hidden;
  margin: 0;
  padding: 0;
  color: #2f3a4c;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 3.5rem;
  line-height: 60px;
  color: #14e956;
  @media only screen and (max-width: 600px) {
    font-size: 2.8rem;
  }
}
h2 {
  font-size: 2.8rem;
  line-height: 48px;
  color: #2f3a4c;
  @media only screen and (max-width: 600px) {
    font-size: 2.4rem;
  }
}
h3 {
  font-size: 2.3rem;
  line-height: 34px;
  @media only screen and (max-width: 600px) {
    font-size: 1.9rem;
  }
}
h4 {
  font-size: 2rem;
  line-height: 30px;
  @media only screen and (max-width: 600px) {
    font-size: 1.4rem;
  }
}
p{
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #14e956;
  transform: translate3d(0, 0, 0);
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 13px;
}
*::-webkit-scrollbar-track {
  background: #e8fdee;
}
*::-webkit-scrollbar-thumb {
  background-color: #14e956;
  border-radius: 20px;
  border: 2px solid #fdfdfd;
}

